{% extends 'base.html' %}
{% block title %}
    Tests List
{% endblock %}
{% block body %}
    {% include 'Student/nav_student.html' %}
    <div class="bg-dark container-fluid">
        <form method="GET">
            <div class="row pb-2">
                <div class="col-6">
                    <input type="text" name="search_query" placeholder="Search test" class="rounded-lg p-2" style="border:none; width: 100%;"/>
                    <div class="text-light pt-2">
                        <input type="radio" value="testName" name="searchBy" checked> Test Name 
                        <input type="radio" value="teacherName" name="searchBy"> Teacher Name
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <button style="background: none; border: none;" class="text-light pt-2 ml-0 pl-0"><i class="material-icons">search</i></button>
                        </div>  
                        <div class="col-6 text-right pt-2">
                            <a href="{% url 'student:test_list' %}" class="text-danger" style="font-size: 24px;"><i class="material-icons " style="font-size: 32px">close</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container p-0">
        <div class="row">
            {% if test_list|length == 0 %}
                <div class="col-12 mt-4 text-center font-weight-bold" style="color: #e2e1e0; font-size: 24px;">
                    No Tests Available!
                </div>
            {% else %}
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-8">
                    <ul class="list-style-type-none" style="padding: 0;">
                    {% for item in test_list %}
                        <li class="border rounded-lg p-2 m-2 pl-md-3 pr-md-3 pt-md-3">
                            <div>
                                <div><span class="font-weight-bold">Test Name:</span> <span>{{item.test_name}}</span></div>
                                <div><span class="font-weight-bold">Teacher Name:</span> <span>{{item.teacher_id.teacher_user.username}}</span></div>
                                <div class="text-right">
                                    <a href="{% url 'student:test_join' %}?test_id={{ item.id }}" class="text-decoration-none"><span class="align-top">Request Join</span> <i class="material-icons align-middle">arrow_forward</i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-0 col-md-2"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}