{% extends 'base.html' %}
{% block title %}
    Test Attempt
{% endblock %}
{% block body %}
    <form method="POST">
    {% csrf_token %}
    <ul>
        {% for question in test.question_set.all %}
            <li>
                <p>{{question.question_text}} ?</p>
                <div>
                    {% for answer in question.answer_set.all %}
                        <input type="radio" name="{{question.id}}" value="{{answer.id}}"/> {{answer.answer_text}} <br />
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <button>Submit</button>
    </form>
{% endblock %}