{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Form-Student
{% endblock %}
{% block body %}
    <div class="m-2">
        <div>
            <div>
                <h4 class="font-weight-bold text-center">Complete Your Profile</h4>
                <form method="post">
                    {% csrf_token %}
                    {% for form in form_set %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag}}
                                {% render_field field class+="form-control" %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div>
                    <div class="text-right">
                        <button class="btn btn-primary" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}