{% extends 'base.html' %}
{% block title %}
    Form-Student
{% endblock %}
{% block body %}
    <div>
        <div style="width: 80%;">
            <div class="form">
                <p class="form-title">Profile Form - <span style="text-transform:capitalize">{{ form_type }}</span></p>
                <form method="post">
                    {% csrf_token %}
                    {% for form in form_set %}
                        {{ form.as_p }}
                    {% endfor %}
                    <div>
                    <div class="form-submit-container">
                            <div style="text-align: left;">
                                <button class="primary-button" >Submit</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}