{% extends 'base.html' %}
{% block body %}
    {% include 'teachers/nav_teachers.html' %}
    <div>
        <h3 class="p-2 text-center text-light bg-dark">My Tests</h3>
        {% for test in profile.test_set.all %}
            <a href="{% url 'ctest:view_test' test.id %}">
                <div class="p-2 m-2 rounded border">
                    <h4 class="text-dark">{{ test.test_name }}</h4>
                    <div class="text-dark small">
                        <div><span>No. Of Questions: </span><span>{{test.question_set.all.count}}</span></div>
                    </div>
                    <div class="text-right">
                        <i class="material-icons">arrow_forward</i>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}