{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    <div>
        <div>
            <div>
                <p>Sign In</p>
                <form method="post">
                    {% csrf_token %}
                    <tr>
                        <td><label>Username</label></td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td>{{form.password}}</td>
                    </tr>
                    <div>
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div>
                    <div>
                            <div>
                                <a href="{% url 'accounts:register' %}">Create account</a>
                            </div>
                            <div>
                                <button>Submit</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}