{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Sign Up 
{% endblock %}
{% block body %}
    <div class="row m-1 mt-4">
        <div class="col-12">
            <div class="text-center">
                <h4>Sign Up</h4>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {% render_field field class+='form-control' %}
                            {% for error in field.errors %}
                                <p class="">{{error}}</p>
                            {% endfor %}
                        </div> 
                    {% endfor %}
                    <div class="row">
                        <div class="col-6 text-left">
                            <span class="align-middle">
                                <a href='{% url "login" %}' class="mr-2 small font-weight-bold text-decoration-none font-montserrat">
                                    Sign In
                                </a>
                            </span>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary rounded-sm">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
