{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    New Question
{% endblock %}
{% block body %}
    <div class="container p-0">
        <div class="row m-2">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-10">
                <div class="text-center">
                    <p class="font-weight-bold custom-title">Edit Question</p>
                </div>
                <form method="POST" action="{% url 'ctest:edit_question' test_id=test_id question_id=question_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ question_form.question_text.label_tag }}
                        {% render_field question_form.question_text class+="form-control" %}
                    </div>
                    <div>
                        <p>New Print</p>
                        {% for answer_form in answer_form_set %}
                            <div>
                                {{ answer_form.answer_text.label_tag }}
                                {% render_field answer_form.answer_text class+="form-control" %}
                                {{ answer_form.is_answer_correct.label_tag }}
                                {% render_field answer_form.is_answer_correct %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary rounded-lg">Submit</button>
                    </div>
                </form>
                <div class="float-top-right mr-2 mt-2 mr-md-3 mt-md-3">
                    <a href="{% url 'ctest:view_test' test_id %}"><i class="material-icons font-weight-bold text-danger" style="font-size: 36px;">clear</i></a>
                </div>
            </div>
            <div class="col-0 col-md-1"></div>
        </div>
    </div>
{% endblock %}