{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block body %}
        <div>
            {{ user.username }}
            {% if user.is_authenticated %}
                <div>
                    You are Logged in!
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}    
                <div>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            {% endif %}
            <div>
                <a href="#">
                    Students
                </a>
            </div>
            <div>
                <a href="#">
                    Teachers
                </a>
            </div>
        </div>
{% endblock %}