{% extends 'base.html' %}
{% block title %}
    User Status
{% endblock %}
{% block body %}
    <div class="height_100">
        <div class="form-container center-h" >
            <div>
                <p class="form-title">Select User Type</p>
                <form method="post">
                    {% csrf_token %}
                    <div style="padding: 24px 0px; text-align: left;">
                        <p>
                            <div><input type="radio" name="user_status" value="student" checked style="display: inline; width: auto;"> <span class="user_status_label"> Student </span><br /></div>
                            <div><input type="radio" name="user_status" value="teacher" style="display: inline; width: auto;"> <span class="user_status_label">Teacher</span> <br /></div>
                        </p>
                    </div>
                    <div>
                    <div class="form-submit-container">
                            <div></div>
                            <div style="text-align: right;">
                                <button class="primary-button" >Next</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}