{% extends 'base.html' %}
{% block title %}
    User Status
{% endblock %}
{% block body %}
    <div>
        <div>
            <div>
                <p>Select User Type</p>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <p>
                            <div><input type="radio" name="user_status" value="student" checked> <span> Student </span><br /></div>
                            <div><input type="radio" name="user_status" value="teacher"> <span>Teacher</span> <br /></div>
                        </p>
                    </div>
                    <div>
                    <div>
                            <div>
                                <button>Next</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}