{% extends 'base.html' %}
{% block title %}
    User Status
{% endblock %}
{% block body %}
    <div class="container">
        <div>
            <div class="mt-4 border p-2 rounded-lg">
                <h3 class="text-center font-weight-bold">Select User Type</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <p>
                            <div><input type="radio" name="user_status" value="student" checked> <span> Student </span><br /></div>
                            <div><input type="radio" name="user_status" value="teacher"> <span>Teacher</span> <br /></div>
                        </p>
                    </div>
                    <div>
                    <div class="text-right">
                        <button class="btn btn-primary">Next</button>                         
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}